{% extends 'base.html' %}
{% block title %}Adicionar Animal{% endblock %}
{% block content %}

{% load static %}
<link href="{% static 'css/styles.css' %}" rel="stylesheet">

<h2>Adicionar Animal</h2>

<form method="post">
   {% csrf_token %}
   <div id="form_text">
      {% for field in form %}
         <div class="form-group">
            <label class="label_text" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
         </div>
      {% endfor %}
   </div>
   <button type="submit" class="submit_button">Salvar</button>
</form>

{% endblock %}
