{% extends 'base.html' %}
{% block title %}Animais{% endblock %}
{% block content %}

{% load static %}
<link href="{% static 'css/styles.css' %}" rel="stylesheet">

 <h2>Animais disponíveis</h2>

 <div class="cards-container">
    {% for animal in animais %}
    <div class="card" onclick="window.location.href='{% url 'detalhes_animal' animal.pk %}';">
        <div class="card-body">
          <h5 class="card-title">{{ animal.nome }}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">{{ animal.idade_em_meses }} meses</h6>
          <p class="card-text">Raça: {{ animal.raca }}</p>

        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
