<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>

    <!-- Bootstrap CSS -->
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Registrar</h2>
        <form method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                {{ form.username }}
            </div>

            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                {{ form.email }}
            </div>

            <div class="form-group">
                <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
                {{ form.password1 }}
            </div>

            <div class="form-group">
                <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
                {{ form.password2 }}
            </div>

            <button type="submit" class="btn btn-primary btn-block">Registrar</button>
        </form>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
