<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>

    <!-- Bootstrap CSS -->
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    {% load widget_tweaks %}
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Registrar</h2>
        <form method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label class="label_text" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                {{ form.username|add_class:"form-input" }}
            </div>
            <div class="form-group">
                <label class="label_text" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                {{ form.email|add_class:"form-input" }}
            </div>
            <div class="form-group">
                <label class="label_text" for="{{ form.password1.id_for_label }}">Senha:</label>
                {{ form.password1|add_class:"form-input" }}
            </div>
            <div class="form-group">
                <label class="label_text" for="{{ form.password2.id_for_label }}">Confirmar senha:</label>
                {{ form.password2|add_class:"form-input" }}
            </div>
            <button type="submit" class="submit_button">Registrar</button>
            
        </form>
    </div>
    <!-- Bootstrap JS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
